<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.game.mapper.GameRecordMapper">

    <sql id="where">
        <where>
            <if test="p.gameId != null and p.gameId != ''">
                and g.game_id = #{p.gameId}
            </if>
            <if test="p.userName != null and p.userName != ''">
                and g.user_name = #{p.userName}
            </if>
            <if test="p.parent != null and p.parent != ''">
                and g.parent = #{p.parent}
            </if>
            <if test="p.startTime != null and p.startTime != ''">
                and g.create_time <![CDATA[>=]]> #{p.startTime}
            </if>

            <if test="p.endTime != null and p.endTime != ''">
                and g.create_time <![CDATA[<=]]> #{p.endTime}
            </if>
        </where>
    </sql>


    <select id="findGameRecordList"  resultType="com.central.game.model.GameRecord">
        SELECT
            g.bet_id,
            g.bureau_num,
            g.user_name,
            g.game_name,
            g.set_time,
            g.bet_amount,
            g.winning_amount,
            g.validbet,
            g.win_Loss,
            g.min_limit_red,
            g.max_limit_red
        FROM
            game_record g
        <include refid="where" />

    </select>

    <select id="getGameRecordByParent"  resultType="com.central.game.model.GameRecord">
        SELECT
        g.*
        FROM
        game_record g
        <include refid="where" />
    </select>

    <select id="findGameRecordTotal"  resultType="com.central.game.dto.GameRecordDto">
        SELECT
        IFNULL(SUM(g.bet_amount) ,0) as betAmount,
        IFNULL( SUM(g.validbet),0) as validbet,
        IFNULL(SUM(g.win_Loss),0)   as winLoss,
        IFNULL(SUM(g.winning_amount),0)   as winningAmount
        FROM
        game_record g
        <include refid="where" />
    </select>

    <select id="findBetAmountTotal"  resultType="com.central.game.dto.GameRecordReportDto">
        select count(1) as num,IFNULL(sum(a.betamount),0) as amount from (select SUM(g.bet_amount) betamount from game_record g
        <include refid="where" />
        GROUP BY g.user_id) a
    </select>

    <select id="findValidbetTotal"  resultType="com.central.game.dto.GameRecordReportDto">
        select count(1) as num,IFNULL(sum(a.validbet),0) as amount from (select SUM(g.validbet) validbet  from game_record g where g.validbet > 0
        <if test="p.startTime != null and p.startTime != ''">
            and g.create_time <![CDATA[>=]]> #{p.startTime}
        </if>

        <if test="p.endTime != null and p.endTime != ''">
            and g.create_time <![CDATA[<=]]> #{p.endTime}
        </if>
         GROUP BY g.user_id) a
    </select>

    <select id="findWinningAmountTotal"  resultType="com.central.game.dto.GameRecordReportDto">
        select count(1) as num,IFNULL(sum(a.winningamount),0) as amount from (select SUM(g.winning_amount) winningamount from game_record g where g.winning_amount > 0
        <if test="p.startTime != null and p.startTime != ''">
            and  g.create_time <![CDATA[>=]]> #{p.startTime}
        </if>

        <if test="p.endTime != null and p.endTime != ''">
            and g.create_time <![CDATA[<=]]> #{p.endTime}
        </if>
         GROUP BY g.user_id) a
    </select>

    <select id="findHomePageDto"  resultType="com.central.game.dto.HomePageDto">
        select COUNT(1) betAmountNum,SUM(validbet) validbet,SUM(win_Loss) profitAndLoss from
         (select COUNT(0) num,IFNULL(SUM(g.validbet),0) validbet,IFNULL(SUM(g.win_Loss),0) win_Loss from
          game_record g
        <where>
            <if test="parent != null and parent != ''">
                and g.parent = #{parent}
            </if>
        </where>
          GROUP BY g.user_id) a;
    </select>

    <select id="findHomeHistogramDto"  resultType="com.central.game.dto.HomeHistogramDto">
        select IFNULL(SUM(g.validbet),0) as validbet,IFNULL(SUM(g.win_Loss),0) as profitAndLoss from game_record g
        <include refid="where" />
    </select>
</mapper>