<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.game.mapper.GameRecordMapper">

    <sql id="where">
        <where>
            <if test="p.gameId != null and p.gameId != ''">
                and g.game_id = #{p.gameId}
            </if>
            <if test="p.userName != null and p.userName != ''">
                and g.user_name = #{p.userName}
            </if>
            <if test="p.parent != null and p.parent != ''">
                and g.parent = #{p.parent}
            </if>
            <if test="p.startTime != null and p.startTime != ''">
                and g.create_time <![CDATA[>=]]> #{p.startTime}
            </if>

            <if test="p.endTime != null and p.endTime != ''">
                and g.create_time <![CDATA[<=]]> #{p.endTime}
            </if>
        </where>
    </sql>


    <select id="findGameRecordList"  resultType="com.central.game.model.vo.GameRecordBackstageVo">
        SELECT
        g.*,o.start_time as startTime,o.end_time as endTime
        FROM
            game_record g
        LEFT JOIN game_room_info_offline o on g.table_num=o.table_num
        and g.boot_num=o.boot_num and g.bureau_num=o.bureau_num
        <include refid="where" />

    </select>

    <select id="getGameRecordByParent"  resultType="com.central.game.model.GameRecord">
        SELECT
        g.*
        FROM
        game_record g
        <include refid="where" />
    </select>

    <select id="findGameRecordTotal"  resultType="com.central.game.dto.GameRecordDto">
        SELECT
        IFNULL(SUM(g.bet_amount) ,0) as betAmount,
        IFNULL( SUM(g.validbet),0) as validbet,
        IFNULL(SUM(g.win_Loss),0)   as winLoss,
        IFNULL(SUM(g.winning_amount),0)   as winningAmount
        FROM
        game_record g
        <include refid="where" />
    </select>

    <select id="findBetAmountTotal"  resultType="com.central.game.dto.GameRecordReportDto">
        select count(1) as num,IFNULL(sum(a.betamount),0) as amount from (select SUM(g.bet_amount) betamount from game_record g
        <include refid="where" />
        GROUP BY g.user_id) a
    </select>

    <select id="findValidbetTotal"  resultType="com.central.game.dto.GameRecordReportDto">
        select count(1) as num,IFNULL(sum(a.validbet),0) as amount from (select SUM(g.validbet) validbet  from game_record g where g.validbet > 0
        <if test="p.startTime != null and p.startTime != ''">
            and g.create_time <![CDATA[>=]]> #{p.startTime}
        </if>

        <if test="p.endTime != null and p.endTime != ''">
            and g.create_time <![CDATA[<=]]> #{p.endTime}
        </if>
         GROUP BY g.user_id) a
    </select>

    <select id="findWinningAmountTotal"  resultType="com.central.game.dto.GameRecordReportDto">
        select count(1) as num,IFNULL(sum(a.winningamount),0) as amount from (select SUM(g.winning_amount) winningamount from game_record g where g.winning_amount > 0
        <if test="p.startTime != null and p.startTime != ''">
            and  g.create_time <![CDATA[>=]]> #{p.startTime}
        </if>

        <if test="p.endTime != null and p.endTime != ''">
            and g.create_time <![CDATA[<=]]> #{p.endTime}
        </if>
         GROUP BY g.user_id) a
    </select>

    <select id="findHomePageDto"  resultType="com.central.game.dto.HomePageDto">
        select COUNT(1) betAmountNum,SUM(validbet) validbet,SUM(win_Loss) profitAndLoss from
         (select COUNT(0) num,IFNULL(SUM(g.validbet),0) validbet,IFNULL(SUM(g.win_Loss),0) win_Loss from
          game_record g
        <where>
            <if test="parent != null and parent != ''">
                and g.parent = #{parent}
            </if>
        </where>
          GROUP BY g.user_id) a;
    </select>

    <select id="findHomeHistogramDto"  resultType="com.central.game.dto.HomeHistogramDto">
        select IFNULL(SUM(g.validbet),0) as validbet,IFNULL(SUM(g.win_Loss),0) as profitAndLoss from game_record g
        <include refid="where" />
    </select>

    <select id="findBetList"  resultType="com.central.game.model.vo.GameRecordVo">
        SELECT set_time setTime,bureau_num bureauNum,game_name gameName,sum(bet_amount) betAmount,SUM(validbet) validbet,SUM(win_Loss) winLoss
        from game_record where user_id=#{p.userId} and create_time between #{p.startTime} and #{p.endTime}
        GROUP BY game_id,bureau_num
    </select>

    <select id="getPayoutResult" resultType="com.central.game.model.vo.PayoutResultVo">
        SELECT sum(winning_amount) winningAmount,user_name userName,game_id gameId, game_name gameName,table_num tableNum,boot_num bootNum,bureau_num bureauNum
        from game_record where game_Id=#{gameId} and table_num=#{tableNum} and boot_num=#{bootNum} and bureau_num=#{bureauNum} GROUP BY user_id
    </select>

    <select id="getTodayLotteryList" resultType="com.central.user.model.vo.RankingListVo">
        SELECT user_name userName,sum(winning_amount) amount,FORMAT(sum(winning_amount),2) money from game_record
        where bet_time BETWEEN #{startTime} and #{endTime} GROUP BY user_id ORDER BY amount desc
    </select>

    <select id="getTodayBetList" resultType="com.central.user.model.vo.RankingListVo">
        SELECT user_name userName,sum(bet_amount) amount,FORMAT(sum(bet_amount),2) money from game_record
        where bet_time BETWEEN #{startTime} and #{endTime} GROUP BY user_id ORDER BY amount desc
    </select>

    <select id="getTodayValidbet" resultType="java.math.BigDecimal">
        SELECT sum(validbet) validbet from game_record
        where bet_time BETWEEN #{startTime} and #{endTime} and user_id=#{userId}
    </select>

    <select id="getTotalValidbet" resultType="java.math.BigDecimal">
        SELECT sum(validbet) validbet from game_record
        where user_id=#{userId}
    </select>
</mapper>