<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.game.mapper.GameLotteryResultMapper">

    <sql id="where">
        <where>
            <if test="p.startTime != null and p.startTime != ''">
                and g.create_time <![CDATA[>=]]> #{p.startTime}
            </if>

            <if test="p.endTime != null and p.endTime != ''">
                and g.create_time <![CDATA[<=]]> #{p.endTime}
            </if>
        </where>
    </sql>


    <select id="getLotteryResultList"  resultType="com.central.game.model.GameLotteryResult">
        SELECT g.*
        FROM
        game_lottery_result g
        <where>
            <if test="p.startTime != null and p.startTime != ''">
                and g.lottery_time <![CDATA[>=]]> #{p.startTime}
            </if>

            <if test="p.endTime != null and p.endTime != ''">
                and g.lottery_time <![CDATA[<=]]> #{p.endTime}
            </if>
        </where>
    </select>

    <select id="findList"  resultType="com.central.game.model.GameLotteryResult">
        SELECT g.*
        FROM
        game_lottery_result g
        <where>
            <if test="p.bureauNum != null and p.bureauNum != ''">
                and g.bureau_num = #{p.bureauNum}
            </if>
            <if test="p.gameId != null and p.gameId != ''">
                and g.game_id = #{p.gameId}
            </if>

            <if test="p.startTime != null and p.startTime != ''">
                and (g.lottery_time <![CDATA[>=]]> #{p.startTime}
                or g.create_time <![CDATA[>=]]> #{p.startTime})
            </if>

            <if test="p.endTime != null and p.endTime != ''">
                and (g.lottery_time <![CDATA[<=]]> #{p.endTime}
                or  g.create_time <![CDATA[<=]]> #{p.endTime})
            </if>
        </where>
    </select>
</mapper>