<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.game.mapper.GameRoomListMapper">

    <update id="updateRoomStatus">
        update game_room_list g
        set g.room_status = 1
        <where>
            <if test="p.time != null and p.time != ''">
                and g.maintain_end <![CDATA[<=]]> #{p.time}
            </if>
            <if test="p.roomStatus != null">
                and g.room_status = #{p.roomStatus};
            </if>
        </where>
    </update>

</mapper>