<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.user.mapper.WashCodeChangeMapper">

    <select id="getWashCodeRecord" resultType="com.central.common.model.WashCodeChange">
        select SUM(amount) amount,SUM(validbet) validbet,game_id gameId,game_name gameName
        from wash_code_change where user_id=#{userId} and create_time between #{startTime} and #{endTime} GROUP BY game_id
    </select>
</mapper>